VERSION=1.0
DATE=2022.05.19
#- URL_SRC : source for signed URL, can be one of INDEXD, CLOUD_FRONT, LOCAL, PUBLIC_S3 or DUMMY (default)
BACKEND_URL=http://127.0.0.1:4020/v1/graphql/
AUTH_ENABLED=true
# ACL File Authentication
# AUTHORIZATION_ENABLED=true
PROJECT=BENTO
FAKE=true
AUTH_URL=http://localhost:4010/api/auth/authorized

# MySQL Session Storage
#MYSQL_SESSION_ENABLED=true
# If MYSQL_SESSION_ENABLED true, below env variables are required
#MYSQL_HOST=127.0.0.1
#MYSQL_PORT=3306
#MYSQL_PASSWORD=XXXX
#MYSQL_USER=root
#MYSQL_DATABASE=session
#COOKIE_SECRET=XXXX
#SESSION_TIMEOUT=1200